body{
    background-color: beige;
}
h1{
    color: rgba(113, 29, 121, 0.72);
}
p{
    color: #9c142050;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial;
    line-height: 1.5;
    text-align: justify; /* left right center justify */
    text-decoration: none; /* underline line-through overline none*/
    text-transform: lowercase; /* uppercase lowercase capitalize none */
    font-style: italic;
    background-color: rgba(0, 255, 255, 0.84);

}
a{
    text-decoration: none;
}