body{
    width: 800px;
}
h1{
    font-size: 27px;
    text-align: justify;
    font-weight: 600;
    margin-block-end: 16px;
    margin-bottom: 16px;
}
h3{
    font-size: 15px;
    text-align: justify;
    font-weight: 700;
    line-height: 24px;
    margin-block-end: 10px;
    margin-block-start: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h5{
    font-size: 14px;
    font-style: italic;
    line-height: 22.4px;
    margin-block-end: 14px;
    margin-block-start: 15px;
    margin-top: 15px;
    text-align: center;
}
h6{
    font-size: 13px;
    text-align: justify;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{

    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
    margin-block-end: 15px;
    margin-block-start: 15px;
}
