.body{
    border: 1px solid black;
    margin-right: 25%;
    margin-left: 25%;
}
.head{
    height:200px;
    width: 100%;
    background-color: green;

}
.head h1{
    color: white;
}
.head h3{
    color: rgba(255, 255, 255, 0.6);
}
img{
    max-height: 100%;
    max-width: 25%;
    float: left;
    padding:15px;
}
.left{
    width:35%;
    float: left;
}
.left h2{
    border:1px solid green;
    color:white;
    background-color:green;
}

.right{
    width:65%;
    float: right;
}


