.head{
    width: 100%;
    background-color: green;

}
.head h1{
    color: white;
}
.head h3{
    color: rgba(255, 255, 255, 0.6);
}
img{
    max-width: 25%;
    float: left;
}
.left{
    width:35%;
    float: left;
}
.left h2{
    border:1px solid green;
    color:white;
    background-color:green;
}

.right{
    width:65%;
    float: right;
}


