.center {
    margin: auto;
    width: 50%;
    border: 3px solid #edf3ed;
    padding: 10px;
}
h1{
    font-size: 27px;
    text-align: justify;
    font-weight: 600;
    margin-block-end: 16px;
    margin-bottom: 16px;
}
h3{
    font-size: 15px;
    text-align: justify;
    font-weight: 700;
    line-height: 24px;
    margin-block-end: 10px;
    margin-block-start: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h6{
    font-size: 13px;
    text-align: justify;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{

    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
    margin-block-end: 15px;
    margin-block-start: 15px;
}
