div{
    width: 300px;
    float: left; /* left right none */
    border: 1px solid red; /* solid dotted dashed */
    /*
    border-top:
    border-left:
    border-right:
    border-bottom:
    Tuy chon vien theo nhu cau
     */
    margin: 10px;
    /* Tạo khoảng trống giữa các phần từ
    Nếu đủ 4 thông số thì top luôn là đứng đầu tiên sau đo theo chiều kim đồng hồ
    Nếu khuyết thông số thì sẽ lấy thông số theo phần tử đối diện.
     margin-top:
     margin-left:
     margin-right:
     margin-bottom:
     Tùy chọn viền theo nhu cầu
     */
    padding: 15px 20px 15px 20px;
    /* Khoảng cách từ border vào giữa nội dung
    padding-top:
    padding-right:
    padding-botton:
    padding-left:
    Nếu có 4 thông số nguyên tắc như margin
    */
}
img{
    max-width: 100%;
}