div{
    width: calc(25% - 20px);
    /* calc: Phép tính để chiều rộng khối đúng với yêu cầu
    (phải có khoảng cách giữa dấu cộng trừ)
    */
    float: left; /* left right none */
    border: 2px solid red; /* solid dotted dashed */
    /*
    border-top:
    border-left:
    border-right:
    border-bottom:
    Tuy chon vien theo nhu cau
     */
    margin: 10px;
    /* Tạo khoảng trống giữa các phần từ
    Nếu đủ 4 thông số thì top luôn là đứng đầu tiên sau đo theo chiều kim đồng hồ
    top > right > bottom > left
    Nếu khuyết thông số thì sẽ lấy thông số theo phần tử đối diện.
     margin-top:
     margin-left:
     margin-right:
     margin-bottom:
     Tùy chọn viền theo nhu cầu
     */
    padding: 15px;
    /* Khoảng cách từ border vào giữa nội dung
    padding-top:
    padding-right:
    padding-botton:
    padding-left:
    Nếu có 4 thông số nguyên tắc như margin
    Padding cộng vào diện tích của khối
    còn margin thì không cộng vào diện tích của khối
    */
    box-sizing: border-box;
    /* Điều chỉnh lại diện tích bằng với diện tích ở width
    content-box: Diện tích khối sẽ tính từ nội dung khối đi vào
    border-box: Diện tích khối tính theo border đi vào
     */
    border-radius: 10px;
    /*
    Tạo bo góc cho border
    */
    box-shadow: 0px 0px 10px  ;
    /*Thông số
    1: Giá trị trục x
    2: Giá trị trục y
    3: Độ mờ bóng
    4: Màu
    */
    transition: 1s all;
    /*Làm cho các sự dịch chuyển về hiệu ứng làm trong n thời gian mới xong*/

}
div:hover{
    /*hover: Trạng thái của phần tử khi được người dùng đưa chuột vào*/
    transform: rotate(45deg);
    transform: scale(1.5);
    /*transform : biến đổi góc nhìn của phẩn tử sang vị trí khác
    translate: dịch chuyển khoảng x,y translate(50px,60px)
    rotate: xoay 1 góc a rotate(45deg)
    scale: phóng to x lần scale(1.5)
    Nếu viết 2 hay nhiều lệnh trên thì sẽ sử dụng cái cuối
    */

}
img{
    max-width: 100%;
}